/* THEME COLORS */
$themePrimaryColor: #F2C811;
$themeDarkColor: #CDA521;
$themeDarkerColor: #BE9A27;
$themeSecondaryColor: #000000;
$themeSecondaryAltColor: #444444;
$themeTertiaryColor: #F2C811;
$themeLightColor: #F2C811;
$themeLighterColor: #F2C811;

/* NEUTRAL COLORS */
$blackColor: #000;
$neutralDarkColor: #212121;
$neutralPrimaryColor: #333333;
$neutralPrimaryColorAlt: #444444;
$neutralPrimaryColorAlt2: #4a4a4a;
$neutralPrimaryColorAlt3: #515151;
$neutralSecondaryColor: #666666;
$neutralSecondaryAltColor: #777777;
$neutralSecondaryAltColor2: #888888;
$neutralSecondaryAltColor3: #999999;
$neutralTertiaryColor: #A6A6A6;
$neutralTertiaryAltColor: #C8C8C8;
$neutralLightColor: #EAEAEA;
$neutralLighterColor: #F4F4F4;
$whiteColor: #FFF;

/* ACCENT COLORS */
$defaultLinkColor: #0000EE;
$linkColor: $themeSecondaryColor;
$highlightColor: $themeDarkerColor;
$warningColor: #E81123;
$revertToDefault: #f1c816;

$successColor: #3bb44a;
$infoColor: #DEEBF6;
$infoDarkColor: #33669A;
$alertColor: #FFF9AE;
$alertDarkColor: #DDB53B;
$alertBorderColor: #D7D889;
$criticalColor: #FADBD2;
$questionBoxForegroundColor: #999;

$positiveColor: #01B8AA;
$neutralColor: #F2C80F;
$negativeColor: #FD625E;